@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}
a {
  color: inherit;
  text-decoration: none;
}
/*NAV BAR*/
nav {
  display: inline-flex;
  width: 100%;
}
/*barre hebergement et activite*/
.hebergement {
  display: flex;
  flex-direction: row;
  margin: -1px 0px 0px 830px;
  gap: 2px;
}

.hebergement a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  width: max-content;
  height: 70px;
}
/*Logo booki*/
#logo {
  margin: 0 0px 0 40px;
  height: 100px;
  width: auto;
}

/*animation bleu*/
.hebergement a:hover {
  border-top: 4px solid blue;
  color: blue;
}

.hebergement a {
  padding: 30px;
}

/*titre TROUVEZ VOTRE HEB*/
div.titre {
  padding: 0 45px;
}
.titre h1 {
  font-size: 25px;
  margin-top: 20px;
}
/*en plein centre de ville*/
.titre p {
  margin-top: -10px;
  font-size: 15px;
}

/*BARRE DE RECHERCHE*/
.search {
  display: inline-flex;
  max-width: 100%;
  margin-left: 45px;
}

.search button {
  height: 40px;
  border-radius: 0 15px 15px 0;
  height: 55px;
  width: 140px;
}

input.barre {
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding-left: 15px;
  border: inherit;
}

/*icone localisation*/

.local i {
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 18px;
  color: black;
}
div.local {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
}

::placeholder {
  color: black;
}
/*Boutton de rechercher*/
div.rechercher button {
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: white;
  background-color: #0065fc;
}
.rechercher span {
  justify-content: center;
  align-items: center;
  margin: 0 0 0 -10px;
}
/*cacher l'icone loupe*/
.fas.fa-search {
  visibility: hidden;
}

/*FILTRES*/
.filtres {
  margin: 30px 0px 0 25px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  row-gap: 0px;
}
div.filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  gap: 20px;
}

.filtres h2 {
  margin: 18px 25px 18px 18px;
  display: inline-flex;
  font-size: 25px;
}

div.bouton {
  display: inline-flex;
  align-items: center;
  border: #f2f2f2 2px solid;
  margin: 0px 50px 0 0;
  margin-bottom: 1em;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
}

div.bouton span {
  margin: 0 15px;
  font-size: 21px;
  font-weight: 700;
}

div.bouton i.fas.fa-money-bill-wave,
.fas.fa-child,
.fas.fa-heart,
.fas.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
div.bouton:hover {
  border: solid lightblue;
  color: rgb(160, 167, 172);
}

/*information*/
div.info {
  display: flex;
  align-items: center;
  margin: 15px 0px 10px 45px;
}
div.info p {
  font-size: 20px;
}
div.i {
  height: 2em;
  width: 2em;
  border: 1px lightgrey solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}
/*couleur i*/
.fas.fa-info {
  color: #0065fc;
}
/*FIN INFORMATION*/

/*list appartement HEBERGEMENT MARSEILLE */
.appartements-list {
  max-width: 1400px;
  display: flex;
  margin: 20px 0px 0 45px;
  gap: 2em;
}

/* titre*/
.hebmarseille {
  display: flex;
  justify-content: flex-start;
  height: 45px;
  font-size: large;
  margin: 0px 0px 5px 35px;
}
.hebmarseille h3 {
  font-size: 1.3em;
  margin: 20px 0px 20px -27px;
}

/*Bordure et le fond gris*/
.appartements-list > div {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1rem;
}
/*la taille des boite*/
.appartements-list .city {
  width: 66%;
  padding: 12px 30px 0px 30px;
  background-color: #f2f2f2;
}
/*Afficher plus*/
.appartements-list .city a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: -5px;
}
/*zoom Hebergement Marseillle */
.appartment-card:hover {
  /* L'image est grossie de 10% */
  -webkit-transform: scale(1.1); /* Safari et Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* Internet Explorer 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
}

/*contenuer toutes les cartes HEBERGEMENT a MARSEILLE*/
.city-appartments-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  margin-bottom: 1em;
  margin-top: 25px;
  column-gap: 30px;
  row-gap: 30px;
}

/*STYLE apppartement card HEBERGEMENT MARSEILLE*/
.appartment-card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 15px #0000002e;
  flex-grow: 1;
  flex-basis: 25%;
  width: 40%;
  cursor: pointer;
}
/*titre boite HEBERGEMENT A MARSEILLE*/
.appartment-card h4 {
  margin: 4px 0 13px 13px;
}
.appartment-card p {
  margin: -10px 0 12px 12px;
  font-weight: lighter;
}
/*Image boite HEBERGEMENT A MARSEILLE */
.appartment-card img {
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  box-shadow: 0 0 16px #0000002e;
}

/*couleur etoile MARSEILLE*/
.starsmarseille {
  display: inline-flex;
  margin: 1px 0 5px 13px;
}
/*etoile hebergement Marseille*/
.starsmarseille .starsbleu {
  color: #0065fc;
  margin: 0 0 0 1px;
}
.starsmarseille .starsgris {
  color: lightgray;
  margin: 0 0 0 3px;
}

/*AFFICHER PLUS */
.marseille {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 30px 0 5px 1px;
  padding: 10px;
}
/*fin des etoile Hebergement Marseille */

/* DEBUT LES PLUS POPULAIRES*/
/*titre Plus Populaire*/
.plus {
  display: inline-flex;
  font-size: large;
  height: 80px;
  justify-content: space-between;
  margin: 10px 10px -13px 20px;
}
.plus h3 {
  margin: 20px 0px 0 0;
  font-size: 1.3em;
}
/*etoile noir a cote de PLUS POPULAIRE*/
.plus .fas.fa-star.fa-lg {
  color: black;
  display: flex;
  margin: 25px 12px 5px 10px;
}

/*FIN TITRE*/

/*TAILLE colone POPULAIRE*/
.popular {
  background-color: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 37%;
  height: 620px;
}
/*taille PLUS POPULAIRE*/
.popular-flex {
  margin: 5px 18px -1px 18px;
  row-gap: 25px;
}
/*3 boite*/
.popular-appartment-card {
  background-color: white;
  padding: 5px;
  margin: 0 0 25px 0;
  border-radius: 15px;
  box-shadow: 0 0 16px rgb(167, 167, 167);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: 155px;
  width: auto;
}
/*image PLUS POPULAIRE*/
.popular-appartment-card img {
  object-fit: cover;
  width: 40%;
  height: auto;
  border-radius: 15px 0 0 15px;
}

/*Boite PLUS POPULAIRE titre+prix+etoile*/
/*titre boite PLUS POPULAIRE*/
.popular-description h4 {
  margin: 15px 0px 0px 15px;
  height: auto;
  width: 180px;
  font-weight: bold;
}
/*descriotion prix*/
.popular-description p {
  margin: 5px 0px 0px 15px;
  height: 10px;
}

/*couleur etoile POPULAR*/
/*BLEU*/
.starpopular {
  color: #0065fc;
  display: inline-flex;
  margin: 40px 0 0 15px;
}

/*GRIS*/
.starspopulargris i.fas.fa-star {
  color: lightgray;
  margin-left: 0px;
}

/*zoom PLUS POPULAIRE*/
.popular-appartment-card:hover {
  /* L'image est grossie*/
  -webkit-transform: scale(1.1); /* Safari et Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* Internet Explorer 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
}
/*FIN PLUS POPULAIRES */

/*ACTIVITE MARSEILLE*/
/*style de fond */
#activites {
  width: min-content;
  display: inline-flex;
  margin: 0 0 0 32px;
  flex-direction: column;
}
section.activite {
  display: inline-flex;
  margin: 0 0 0 0px;
  gap: 1.2em;
  width: 100%;
  cursor: pointer;
}

.card {
  border-radius: 15px;
  width: 25%;
  margin: 10px; /*espace entre les boite*/
}

/*titre ACTIVITES A MARSEILLE*/
h6 {
  margin: 50px 0px 25px 20px;
  font-weight: bold;
  font-size: 1.4em;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin-left: 13px;
}
/*fin titre*/

/*couleur des cartes*/
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 0 20px lightgray; /*ombre boite*/
}
.card1,
.card4 {
  height: 535px;
  width: max-content;
  margin: -10px 0 0 0;
}

.card1 img,
.card4 img {
  width: 335px;
  height: 480px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
/*Reglace carte 2 */
.card2 {
  height: 285px;
  width: auto;
  margin-bottom: 25px;
}
.card2 img {
  width: 330px;
  height: 225px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
/*Reglage carte 3*/
.card3 {
  height: 225px;
  margin-top: 1em;
  width: auto;
}
.card3 img {
  width: 330px;
  height: 165px;
  object-fit: fill;
  border-radius: 15px 15px 0 0;
}

/*Reglage CARTE 5 et 6 */
.card5,
.card6 {
  height: 255px;
}
.card5 {
  margin-bottom: 25px;
}
.card5 img,
.card6 img {
  width: 330px;
  height: 195px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/*zoom ACTIVITE MARSEILLE */
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
  /* L'image ZOOM*/
  -webkit-transform: scale(1.1); /* Safari et Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* Internet Explorer 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
}

/*FIN ACTIVITE MARSEILLE*/

/*Footer*/
.footer {
  background-color: #f2f2f2;
  margin: 50px 0 -50px 0px;
  max-width: 1540px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  padding: 1px 30px 0 45px;
}
.footercolone {
  width: 30%;
  padding: 2rem 2rem;
}
h5 {
  font-size: 18px;
}
.footerligne {
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  color: black;
}
.footercolone {
  width: 100%;
  padding: 0;
  margin: 1em 0;
}
.footerligne:hover {
  border-bottom: 1px solid black;
  width: max-content;
}
/*fin FOOTER*/

/*----------------------------MEDIA QUERY-----------------------*/
@media all and (max-width: 1465px) {
  /*navbar*/
  .nav {
    width: max-content;
  }
  .hebergement {
    width: 180px;
    margin: 0 0 0 700px;
  }
  .appartements-list {
    width: 95%;
    margin: 0 0 0 45px;
  }
  .popular {
    height: 645px;
  }
  /*Hauteur plus populaire*/

  /*activite marseille*/
  #activites {
    margin: 0 0 0 30px;
    width: 90%;
  }

  .card1 img,
  .card2 img,
  .card3 img,
  .card4 img,
  .card5 img,
  .card6 img {
    width: 310px;
  }
  .footer {
    width: 99%;
    margin: 50px 0 -10px 0px;
  }
}

@media all and (max-width: 1355px) {
  /*NAVBAR*/
  .hebergement {
    width: 180px;
    margin: 0 0 0 650px;
  }

  .appartements-list {
    width: 96%;
    margin: 0 0 0 30px;
  }
  /*activite marseille*/
  #activites {
    width: 87%;
    margin: 0 0 0 25px;
  }

  .card1 img,
  .card2 img,
  .card3 img,
  .card4 img,
  .card5 img,
  .card6 img {
    width: 290px;
  }
  .footer {
    width: 100%;
    margin: 50px 10px -2px -5px;
  }
}

@media all and (max-width: 1265px) {
  /*navbar*/
  .hebergement {
    margin: 0 0 0 500px;
  }
  /* filtres*/
  .filtres {
    width: 100%;
  }
  div.bouton {
    gap: 10px;
    margin: 0 40px 0 0;
  }
  /*boutons filtres*/
  div.bouton span {
    font-size: 17px;
    width: max-content;
    margin: 0 5px 0 1px;
  }
  /*tableau hebergement marseille + plus populaire*/
  .appartements-list {
    margin: 0 0 0 10px;
    width: 100%;
  }

  /*activite marseilles*/
}

/*tablette*/
@media all and (max-width: 992px) {
  .appartements-list {
    flex-direction: column-reverse;
  }
  .popular {
    width: 100%;
    flex-direction: column;
  }

  .city {
    width: max-content;
  }
  .appartment-card {
    width: 100%;
  }
}

@media all and (max-width: 866px) {
}
/*mobile*/
@media all and (max-width: 768px) {
  body {
    margin: 0px;
    width: auto;
  }
  nav {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0px;
  }
  #logo {
    display: flex;
    width: 100%;
    max-width: 100px;
    align-self: center;
  }

  .hebergement {
    align-self: center;
    border: solid;
    margin:0 0 0 60px;
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .hebergement a {
    border-bottom: black solid 3px;
    width: 100%;
  }


  /*PLUS POPULAIRE*/
  .popular-appartment-card {
    width: 95%;
  }

  /*HEBERGEMENT MARSEILLE*/
  .appartements-list .city {
    width: 100%;
  }
  .city-appartments-list {
    width: auto;
    flex-direction: column;
  }
  .appartment-card{
    width:100%;
  }

  /*activite marseille*/
  #activites {
    border: solid salmon 1px;
    width: 100%;
    margin: 0 0 0 10px;
  }
  .activite {
    border: solid green 1 px;
    flex-direction: column;
    align-self: center;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    width: 98%;
    align-items: center;
    height: max-content;
  }

  .card1 img,
  .card2 img,
  .card3 img,
  .card4 img,
  .card5 img,
  .card6 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .footer {
    flex-direction: column;
    background-color: #f2f2f2;
    height: max-content;
  }
}
